@charset "utf-8";

body {
	color: #2e2e2e;
	font-family: 'IBM Plex Sans', sans-serif;
	
	margin: 30px auto;
	padding: 0;
	width: 900px;
}

h1, h2 {
	font-family: 'IBM Plex Serif', serif;
}

em {
	font-family: 'IBM Plex Serif', serif;	
}

a {
	color: #2e2e2e;
	text-decoration: none;
}

li {
	padding: 5px 0;
}

.url {
	background: #e7e7e7;
	border-radius: 3px;
	font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
	padding: 5px 10px;
}

.institutions, .information {
	font-size: 12px;
}

b {
    border-radius: 3px;
    display: inline-block;    
    font-size: 12px;
    margin: 0 5px 0 0;
    min-width: 75px;
    padding: 5px 10px;
    text-align: center;
}

b.label-black {
    background: #2e2e2e;
    color: #fff;
}

b.label-purple {
    background: #6d7bd5;
    color: #fff;
}

b.label-green {
	background: #afd56d;
}

b.label-yellow {
	background: #e6cf38;
}

b.label-red {
	background: #d56d7b;
    color: #fff;
}

.copyright {
	font-family: 'IBM Plex Serif', serif;	
	font-size: 10px;
	margin: 50px 0 50px;
}

.diagram {
	padding: 20px 0 10px;
	text-align: center;
}

.poster {
	border:  #efef solid 1px;
	border-radius: 30x;
	overflow: hidden;
	width: 100%;
}